Ejecucion_Proyectos/04_OCR_Operativo/src/OCR_OPERATIVO.json
{
    "name": "OCR_OPERATIVO_UX_Final_Es",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {
                    "download": true
                }
            },
            "id": "telegram-trigger-id",
            "name": "TelegramTrigger",
            "position": [
                368,
                160
            ],
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $node[\"TelegramTrigger\"].json[\"message\"].hasOwnProperty(\"photo\") }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if-photo-id",
            "name": "IsPhoto",
            "position": [
                592,
                160
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"TelegramTrigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
                "text": "🔍 *Procesando imagen con IA...*",
                "additionalFields": {
                    "appendAttribution": false,
                    "parse_mode": "Markdown"
                }
            },
            "id": "notify-processing-id",
            "name": "NotifyProcessing",
            "position": [
                816,
                88
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "resource": "image",
                "operation": "analyze",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash-lite",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash-lite"
                },
                "text": "Extrae la información de este formulario operativo. Devuelve solo un objeto JSON con los campos: codigo, version, vigencia (formato DD/MM/YYYY). Si no encuentras alguno, pon \"N/A\".",
                "inputType": "binary",
                "options": {}
            },
            "id": "gemini-ocr-id",
            "name": "Extraer Datos OCR",
            "position": [
                1264,
                160
            ],
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "jsCode": "const geminiJson = $node[\"GeminiOCR\"].json;\nconst geminiResponse = geminiJson.text || (geminiJson.content && geminiJson.content.parts && geminiJson.content.parts[0] ? geminiJson.content.parts[0].text : \"\") || \"\";\n\nlet parsedData = {};\n\ntry {\n  // Try to find an object or array string representation\n  const jsonMatch = geminiResponse.match(/\\[[\\s\\S]*\\]|\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const arrOrObj = JSON.parse(jsonMatch[0]);\n    parsedData = Array.isArray(arrOrObj) ? arrOrObj[0] : arrOrObj;\n  } else {\n    parsedData = { codigo: 'No detectado', version: 'No detectado', vigencia: 'No detectado' };\n  }\n} catch (e) {\n  parsedData = { codigo: 'Error', version: 'Error', vigencia: 'Error' };\n}\n\nreturn {\n  Fecha: new Date().toISOString(),\n  'Telegram File ID': $node[\"TelegramTrigger\"].json[\"message\"][\"photo\"]?.pop()?.[\"file_id\"] || 'N/A',\n  'Código': parsedData.codigo || 'N/A',\n  'Versión': parsedData.version || 'N/A',\n  'Vigencia': parsedData.vigencia || 'N/A',\n  'Confianza': 1.0, \n  'Estado': (parsedData.codigo && parsedData.codigo !== 'N/A' && parsedData.codigo !== 'No detectado' && parsedData.codigo !== 'Error') ? 'Procesado' : 'Requiere Revisión',\n  'Texto Completo': geminiResponse\n};"
            },
            "id": "format-sheets-id",
            "name": "Formatear Datos",
            "position": [
                1488,
                160
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "append",
                "documentId": {
                    "mode": "id",
                    "value": "1_-EEKeynmkDOhGWYIqKifuJnfUuPbKpy0PyHJTQD3OU"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Hoja 1",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Fecha",
                            "displayName": "Fecha",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Telegram File ID",
                            "displayName": "Telegram File ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Código",
                            "displayName": "Código",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Versión",
                            "displayName": "Versión",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Vigencia",
                            "displayName": "Vigencia",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Confianza",
                            "displayName": "Confianza",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Estado",
                            "displayName": "Estado",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Texto Completo",
                            "displayName": "Texto Completo",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "store-sheets-id",
            "name": "Guardar en Sheets",
            "position": [
                1712,
                160
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $node[\"FormatSheets\"].json[\"Estado\"] }}",
                            "value2": "Requiere Revisión"
                        }
                    ]
                }
            },
            "id": "needs-review-id",
            "name": "Validar Calidad",
            "position": [
                1936,
                160
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"TelegramTrigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
                "text": "=✅ *¡Registro Digitalizado Exitosamente!*\n\n📋 *Datos extraídos:*\n- *Código:* {{$json[\"Código\"]}}\n- *Versión:* {{$json[\"Versión\"]}}\n- *Vigencia:* {{$json[\"Vigencia\"]}}\n\n📥 Guardado automáticamente en Google Sheets.",
                "additionalFields": {
                    "appendAttribution": false,
                    "parse_mode": "Markdown"
                }
            },
            "id": "notify-success-id",
            "name": "Notificar Exito",
            "position": [
                2160,
                256
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"TelegramTrigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
                "text": "=⚠️ *Revisión Requerida*\n\nEl sistema no pudo extraer todos los campos con seguridad o hubo un error.\n\n📋 *Datos detectados:*\n- *Código:* {{$json[\"Código\"]}}\n- *Versión:* {{$json[\"Versión\"]}}\n- *Vigencia:* {{$json[\"Vigencia\"]}}\n\n📍 Favor revisar y corregir manualmente en la hoja de cálculo.",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "id": "notify-review-id",
            "name": "Notificar Revision",
            "position": [
                2160,
                64
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                1040,
                160
            ],
            "id": "88133d27-3655-4e10-87f6-c4edde0efec8",
            "name": "Esperar"
        },
        {
            "parameters": {
                "content": "## Fase 1: Recepción\n1. **TelegramTrigger**: Escucha los mensajes entrantes en el Bot.\n2. **IsPhoto**: Verifica si el usuario incluyó una imagen.\n3. **NotifyProcessing**: Si hay foto, avisa al usuario que el procesamiento ha iniciado.",
                "height": 522,
                "width": 558,
                "color": "5"
            },
            "id": "398aa0d7-8c96-4590-892d-dcae76a8e9cf",
            "name": "Nota Fase 1",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                224,
                -128
            ]
        },
        {
            "parameters": {
                "content": "## Fase 2: Inteligencia Artificial\n1. **Merge**: Espera a que termine `NotifyProcessing` antes de mandar la imagen intacta a Gemini, para asegurar el orden.\n2. **GeminiOCR**: Usa visión artificial para leer texto estructurado (Código, Versión, Vigencia).\n3. **FormatSheets**: Toma el resultado, lo extrae de posibles formatos Markdown, y lo prepara en Variables de entorno limpio para guardar.",
                "height": 526,
                "width": 430,
                "color": "6"
            },
            "id": "923ea1cf-c213-4a58-85e0-dde0ab25dc32",
            "name": "Nota Fase 2",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                784,
                -128
            ]
        },
        {
            "parameters": {
                "content": "## Fase 3: Persistencia y Feedback\n1. **StoreSheets**: Añade la fila nueva en la hoja de cálculo de Google conectada.\n2. **NeedsReview**: Evalúa si `FormatSheets` detectó algún error o si los datos resultaron \"No detectado\".\n3. **NotifySuccess / NotifyReview**: Devuelve el resultado por Telegram dependiendo del éxito o fallo de la IA.",
                "height": 526,
                "width": 1150,
                "color": "7"
            },
            "id": "b068a6c4-1eae-4974-b03b-366c91b098ff",
            "name": "Nota Fase 3",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1216,
                -128
            ]
        }
    ],
    "connections": {
        "Formatear Datos": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Guardar en Sheets",
                        "type": "main"
                    }
                ]
            ]
        },
        "Extraer Datos OCR": {
            "main": [
                [
                    {
                        "node": "Formatear Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar Calidad": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Notificar Revision",
                        "type": "main"
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "Notificar Exito",
                        "type": "main"
                    }
                ]
            ]
        },
        "Guardar en Sheets": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Validar Calidad",
                        "type": "main"
                    }
                ]
            ]
        },
        "TelegramTrigger": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "IsPhoto",
                        "type": "main"
                    }
                ]
            ]
        },
        "IsPhoto": {
            "main": [
                [
                    {
                        "node": "NotifyProcessing",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Esperar",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "NotifyProcessing": {
            "main": [
                [
                    {
                        "node": "Esperar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Esperar": {
            "main": [
                [
                    {
                        "node": "Extraer Datos OCR",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}